# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
"app/src/main/resources/pdf/Computer Graphics Through OpenGL_ From Theory to Experiments ( PDFDrive ).pdf" 
"app/src/main/resources/pdf/Introduction to Visual Computing_ Core Concepts in Computer Vision, Graphics, and Image Processing ( PDFDrive ).pdf" 
